<!-- row for the two columns between burgers to be devoured and burgers devoured -->
<div class="row">

    <!-- burgers to be devoured column -->
    <div class="column">
        <div class="notDevoured">
            <h2>New Burgers to Devour</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class='list-group-item burger-item'>
                    <span>{{id}}.{{burger_name}}</span>
                    <button class="devourBtn" id="{{id}}">
                        Devour it!<i class="fas fa-utensils ml-2"></i>
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <!-- burgers devoured column -->
    <div class="column">
        <div class="devoured">
            <h2>Burgers Already Devoured</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class='list-group-item devoured-burger'>
                    {{id}}.{{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    
</div>